.product {
    border: 5px dotted orchid;
    margin-bottom: 1vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.product img {
    width: 75%;
    margin-bottom: 0.8vh;
}
.product p {
    font-size: 2vh;
}
.product__name {
    color: darkmagenta;
}
.product__price{
    width: 70%;
    text-align: right;
    font-weight: bold;
    color: cadetblue;
}