/*** RESET STYLES - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; outline:0; font-size:100%; font:inherit;
	vertical-align:baseline; background:transparent;
}
select {margin:0; padding:0;}
table, tbody, tfoot, thead, tr, th, td {
    vertical-align:middle;
}
strong {margin:0; padding:0; border:0;}
input[type="text"], input[type="password"] {margin:0;}
textarea {resize:none; margin:0; padding:0; outline:0; font-size:100%; font:inherit;
	vertical-align:baseline; background:transparent;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display:block; /* HTML5 display-role reset for older browsers */
}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';	content:none;}

/*** CONTROLS ***/
a             {text-decoration:none;}
a:link        {text-decoration:none;}
a:hover       {cursor:pointer; text-decoration:none;}

/*** HEADER ***/
.App-logo {height: 40vmin; pointer-events: none;}
.App-header {background-color: #282c34;
	min-height: 12vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: calc(10px + 2vmin);
  }
.App-logo {height: 10vmin; pointer-events: none;}
.App-header a {color: darkorange; font-family: cursive; width: 150px;}

.App-content {display: flex;
    flex-direction: column;
    align-items: center;
}

/*** SPINNER ***/
.spinner {animation: spin infinite 3s linear; margin-left:1ex;}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {font-weight: bold; margin-bottom: 1vh;}

.contacto form          {margin-top: 2vh; }
.contacto form label    {display:inline-block; width:15ex;}

.preguntasFrecuentes    {padding: 2vh;}
.preguntasFrecuentes h3 {margin-top: 2vh; font-style: italic;}
