.contador {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 90%;
}
.contador__stock {
    width: 100%;
    font-size: 70%;
}
.contador__operador {
    width: 4ex;
    margin-right: 1ex;
}
.contador__cantidad {
    margin-right: 1ex;
}